{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilman</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><span>Port</span>folio</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">about</a>
            <a href="#">Academic Project</a>
            <a href="#">Activity</a>
        </nav>

        <a href="#" class="contact">Contact Me</a>   
    </header>

    <section class="home">
        <div class="home-content">
            <h3>HELLO!</h3>
            <h1>I'm <span>Hilman</span><br> Data Science and Analytics</h1>
            <p>
                My name is Hilman Yusoh, I am a 3rd-year student of Data Science and Analytics at Fatoni University.
            </p>
            
            <div class="btn-box">
                <button class="btn-1">Hire me</button>
                <button class="btn-2">Project</button>
            </div>
        </div>
        <div class="img-box">
            <img src="{% static 'img/image5.png' %}" alt="Profile Image" >
        </div> 
    </section>

    <section class="about">
        <div class="about-img">
            <img src="{% static 'img/image6.png' %}" alt="About Me Image">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Data Science <span>and Analysis</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque explicabo, harum distinctio aspernatur facilis vel esse! Possimus praesentium earum illo et minus cumque quam voluptatibus quaerat necessitatibus error, vero dolores?</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
    </section>
    <section  clalss>


    </section>c
</body>
</html>
