{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><span>Port</span>folio</a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#project">Academic Project</a>
            <a href="#contact">Contact</a>
        </nav>

        <a href="#contact" class="contact">Contact Me</a>   
    </header>


    <!-- Section Home-->
    <section id="home" class="home">
        <div class="home-content">
            <h3>HELLO!</h3>
            <h1>I'm <span>Hilman</span><br> Data Science and Analytics</h1>
            <p>
                My name is Hilman Yusoh, I am a 3rd-year student of Data Science and Analytics at Fatoni University.
            </p>
            
            <div class="btn-box">
                <a href="#about">
                    <button class="btn-1">Hire me</button>
                </a>
                <a href="#project">
                    <button class="btn-2">Project</button>
                </a>
            </div>
        </div>
        <div class="img-box">
            <img src="{% static 'img/image5.png' %}" alt="Profile Image">
        </div> 
    </section>
 
    <!-- Section About -->  
    <section id="about" class="about">
        <div class="about-img">
            <img src="{% static 'img/image6.png' %}" alt="About Me Image">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Data Science <span>and Analysis</span></h3>
            <p> My name is Hillman Yusoh. I am from Thailand. I live in Narathiwat, Mueang District, Bang Po Subdistrict. I am a 3rd year student in Data Science and Analytics at Fatoni University.</p>
        </div>
    </section>

    <!-- Section Project -->
    <section id="academic-project" class="project">
        <h2 class="heading">Pro<span>ject</span></h2>
        <div class="project-container">
            {% for project in academic_projects %}
                <div class="project-box">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    <a href="#" class="btn">Read more</a>
                </div>
            {% empty %}
                <p>No academic projects available at the moment.</p>
            {% endfor %}
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact" class="contact-form">
        <h2 class="contact-me">Contact <span>Me</span></h2>
    
        <form action="https://api.web3forms.com/submit" method="POST">
            <div class="input-box">
                <input type="hidden" name="access_key" value="79d45170-bc0e-42da-8c51-5110bfbf37fc">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="Email" placeholder="Email">
            </div>

            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <input type="submit" value="Send Message" class="btn-1">
            
        </form>
    </section>

    <!-- Footer Section  -->
    <footer class="footer">
        <div class="social">
            <a href="https://www.instagram.com/hilman_yso/"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-gmail'></i></a>
            <a href="https://github.com/hilmanyusoh?tab=repositories"><i class='bx bxl-github'></i></a>
        </div>
    </footer>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://personalwebsite-9.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>
</html>
