{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilman</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><span>Hil</span>man</a>

        <nav class="navbar">
            <a href="#" class="active"> Home </a>
            <a href="#">About</a>
            <a href="#">Academic Project</a>
            <a href="#">Activity</a>

        </nav>

        <a href="#" class="contact">Contat Me</a>   
    </header>

    <section class="home">
        <div class="home-content"></div>
        <h3>Hello</h3>

        ้

    </section>

</body>
</html>